.supplierbutton{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.firstchild{
    align-self: center;
    margin-right: 30%;
}
.btn{
    background-color: whitesmoke;
}
.supplier1,.supplier2,.supplier3{
    border: none;
    font-weight: bold;
    background-color: rgb(133, 193, 233       );
    width: 45%;
    padding: 15px;
    margin: 20px;
    border-radius: 30px;
}
.supplier1,.supplier2,.supplier3{
   box-shadow: 0px 0px  whitesmoke;
}
.supplier1:hover,.supplier2:hover,.supplier3:hover{
    box-shadow: 2px 5px black;
}
table{
    width: 160%;
    height: auto;
    border-spacing: 20px;
}
td{
    text-align: center;
}
@media screen  and (max-width:768px) {
    .tabledata{
        width: 100%;
    }
    .card_container{
        width: 100%;
        font-size: x-small;
    }
    .supplierbutton{
        margin-left: 20%;
    }
}
